@media  ( max-width:  1199px)
    .container
        width: 900px
@media ( max-width: 991px)
    .container
        width: 720px
    .carousel
        &__inner
            width: 500px
    .slick-slide > img
        width: 500px
    .promo__header
        font-size: 32px
    .button_main
        width: 240px
    .title
        font-size: 24px
    .advantages_icon
        max-width: 210px
    .feed-form
        width: 260px
    .slick-slide>img
        width: 400px
    .slick-slide
        width: 400px
    .carousel__inner
        width: 400px
    .catalog__tab
        width: 180px
@media ( max-width: 767px)
    .container
        width: 560px
    .title
        font-size: 22px
    .header__official
        display: none
    .catalog
        &__tab
            width: 160px
            font-size: 16px
        &__content
            justify-content: center
    .promo
        &__header
            font-size: 28px
        &__icons
            width: 370px
        &__wrapper
            margin-top: 70px
    .button_main
        font-size: 14px
    .advantages
        &__text
            display: none
    .advantages
        min-height: 390px
        padding-bottom: 70px
        &__icons
            justify-content: space-evenly
        &_icon
            max-width: 160px
            text-align: center
    .consultation__descr
        margin-top: 50px
    .carousel__inner > ul
        display: none
    .reviews
        &__block
            margin-top: 60px
            flex-direction: column
            justify-content: center
            align-items: center
            &:nth-child(2)
                margin-top: 45px
        &__text
            margin-top: 30px
            margin-left: 34px
            padding: 0
            width: 320px
        &__wrapper
            margin: 0 auto
@media ( max-width: 576px)
    .container
        width: 310px
        & > .feed-form
            font-weight: 80%
    .header
        flex-direction: column
        align-items: center
        &__contacts
            margin-top: 15px
    .promo
        padding: 20px 0
        &__wrapper
            align-items: flex-start
            text-align: center
            align-items: center
            margin-top: 40px
        &__icons
            flex-direction: column
            align-items: center
            width: 200px
            margin-top: 32px
        &__header
            font-size: 24px
        &__subheader
            font-size: 20px
            margin-top: 10px
    .slick-slide
        width: 300px
    .slick-slide>img
        width: 300px
    .carousel
        padding: 20px 0
        &__inner
            width: 300px
    .advantages
        padding: 20px 0
        &__icons
            flex-direction: column
            align-items: center
            margin-top: 20px
        &_icon
            margin-top: 16px
        &__subheader
            margin-top: 0
    .catalog
        padding-bottom: 20px
        &__tabs
            flex-direction: column
            margin-top: 20px
        &__tab
            margin-top: 10px
        &__content
            margin-top: 30px
    .footer__info
        width: 100%
    .reviews__text
        width: 280px
        &__block
            margin-top: 20px
    .consultation
        min-height: 560px
        padding: 20px 0
        &__descr
            margin-top: 20px
            font-weight: 400
        & > .feed-form
            width: 100%
    .modal
        width: 240px
        padding: 20px
        &__close
            top: 3px
            right: 0px
        & > .feed-form
            width: 100%
    .button_main
        margin-top: 40px
    .title
        font-size: 20px
        font-weight: 400
    .catalog-item__list li
        font-size: 11px
    .catalog-item__descr
        display: none
    .catalog-item
        width: 76%
        min-height: 330px
        padding: 0 10px 10px 10px
        &__link
            font-size: 13px
            margin-top: 10px
        &__price
            font-size: 15px
        &__subtitle
            margin-top: 10px
    .catalog-item hr
        margin: 10px 0
    .reviews
        padding-bottom: 20px
        &__text
            margin-top: 12px
        &__block
            margin-top: 20px
        &__block:nth-child(2)
            margin-top: 20px
    .footer__info
        width: 80%
        padding: 15px
    .footer__addr
        font-size: 15px
        margin-bottom: 18px
    .footer__phone
        font-size: 17px
        margin-bottom: 20px
    .footer__info
        height: 170px
    .footer__social
        justify-content: space-evenly
    .footer__social-items
        margin: 0
